{% extends "base.html" %}

{% load static %}

{% block page_title %} {{month_name | title }} Challange {% endblock  %} 
{% block css_files %}
    <link rel="stylesheet" href="{% static 'challanges/challange.css' %}">
    <link rel="stylesheet" href="{% static 'challanges/header.css' %}">
{% endblock  %}


{% block content %}

{%  include "includes/header.html" %}

    <h1>{{month_name | title }} Challange</h1>
    {% if text is not none %}
    <h2>{{text}}</h2>
    {% else %}
    <b><p class="fallback">there is no challange yet for this month</p></b>
    {% endif %}
    
{% endblock %}