{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'challanges/challanges.css' %}">
    <link rel="stylesheet" href="{% static 'challanges/header.css' %}">
{% endblock  %}

{% block page_title %}All challanges{% endblock  %} 


{% block content %}
{%  include "includes/header.html" %}
<ul>
    {% for month in months %}
    <li>
        <a href = "{% url "month-challange" month%}"> {{month | title}} </a>
    </li>
{% endfor %}
</ul>
{% endblock %}
    
    